<div class="disclaimer">
	<p>
		<strong
			>If you are feeling suicidal or are a danger to yourself and/or others,
			please seek professional help immediately. Call or text the crisis hotline
			at 988 or chat at
			<a href="https://988lifeline.org">988lifeline.org</a> .</strong
		>
	</p>
	<p>
		<strong>
			Alternatively please call 911 for immediate life threatening situations.
			More info can be found at
			<a href="https://www.mentalhealth.gov/get-help/immediate-help">
				https://www.mentalhealth.gov/get-help/immediate-help
			</a>
		</strong>
	</p>
	<p>
		You are not alone in your very human experience. Please seek professional
		help and support.
	</p>
</div>
