<main>
	<div class="copy">
		<h1>
			Give yourself kudos for attempting to manage your anxiety on your own.
		</h1>
		<p>
			Unfortunately there is a limit to how much support this self-service
			questionnaire site can offer you and it seems like you could really use
			the support of a professional therapist or professional support group for
			your current situation at the moment.
		</p>
		<p>
			Please reach out to those resources for the proper support you need right
			now.
		</p>
	</div>
	<app-disclaimer></app-disclaimer>
</main>
