<main>
	<div class="copy">
		<h1>Feeling anxious or down? That's okay!</h1>
		<p>Would you be open to trying some of the activities below?</p>
	</div>
	<section>
		<app-expandable
			*ngFor="let activity of activities"
			summary="{{ activity.summary }}"
			[details]="activity.details"
			[citation]="activity.citation"
			[question]="activity.question"
			[placeholder]="activity.placeholder"
		></app-expandable>
	</section>
	<div class="links-cont">
		<app-link-button
			path="/support"
			class="secondary"
			label="I tried some activities and I don't feel better"
		></app-link-button>
		<app-link-button
			path="/better"
			class="secondary"
			label="I feel better now"
		></app-link-button>
	</div>
</main>
