<main>
	<div class="copy">
		<h1>Allow.</h1>
		<p>
			Observe your experience as if watching a movie. Let your thoughts,
			feelings, and sensations come and go as they are. Take as long as you
			need.
		</p>
		<p>
			Let go of any judgment. It is okay to feel however you are feeling. Do not
			react or respond to your feelings. Simply let yourself feel your emotions.
		</p>
		<p>You may tell yourself: "This is how it is right now."</p>
	</div>
	<app-link-button
		path="../investigate"
		class="primary"
		label="Ok, I'm ready for Investigate"
	></app-link-button>
</main>
