<main>
	<div class="copy">
		<h1>Nurture.</h1>
		<p>Be kind toward your experience.</p>
		<p>
			Think of a friend, family member, pet, or spiritual figure and imagine
			their love flowing to you. Imagine what they might say or do to offer you
			comfort.
		</p>
	</div>
	<section>
		<app-question-answer
			question="Write a comforting message to your vulnerable self."
			placeholder="What does your vulnerable self need from you? How can you best support your vulnerable self?"
		></app-question-answer>
	</section>
	<app-link-button
		path="../check-in"
		class="primary"
		label="Ok, I'm ready to continue"
	></app-link-button>
</main>
