<main>
	<div class="copy">
		<h1>Investigate.</h1>
		<p>
			Sense the most vulnerable part of yourself and reflect on what that
			version of you needs.
		</p>
	</div>
	<section>
		<app-question-answer
			question="What words are going through your mind?"
		></app-question-answer>
		<app-question-answer
			question="What emotions are you feeling?"
		></app-question-answer>
		<app-question-answer
			question="Where are your feelings coming from?"
		></app-question-answer>
		<app-question-answer
			question="How are these feelings experienced in your body?"
		></app-question-answer>
		<app-question-answer
			question="What do you think your vulnerable self needs right now to feel better?"
		></app-question-answer>
	</section>
	<app-link-button
		path="../nurture"
		class="primary"
		label="Ok, I'm ready for Nurture"
	></app-link-button>
</main>
