<main>
	<div class="copy">
		<h1>Great job on using R.A.I.N to practice mindfulness!</h1>
		<p>Do you feel more calm and centered?</p>
	</div>
	<div class="link-cont">
		<app-link-button
			path="/better"
			class="secondary"
			label="Yes, I feel better now"
		></app-link-button>
		<app-link-button
			path="/activity-list"
			class="secondary"
			label="Soso, I feel a little better"
		></app-link-button>
		<app-link-button
			path="/activity-list"
			class="secondary"
			label="No, I don't feel better"
		></app-link-button>
	</div>
</main>
