<main>
	<div class="copy">
		<h1>First let's take some deep breaths.</h1>
		<p>
			Take as many as you'd like. You might even want to close your eyes and
			focus on the rising and falling of your chest as you deep breathe.
		</p>
	</div>
	<div class="circle-cont">
		<div class="backfill"></div>
		<div class="inhale-circle"></div>
	</div>
	<div class="links-cont">
		<app-link-button
			path="/better"
			class="secondary"
			label="I feel better now"
		></app-link-button>
		<app-link-button
			path="/rain"
			class="secondary"
			label="Ok, I'm ready to continue"
		></app-link-button>
	</div>
</main>
