a {
	display: block;
	min-width: 10ch;
	width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 100rem;
	border: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	font-weight: 700;
	font-size: 1.1rem;
	color: var(--dark);
	text-decoration: none;
}

a.primary {
	background-color: var(--primary);
}

a.secondary {
	background-color: var(--light);
	border: 1px solid var(--primary);
}
