nav {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: var(--medium);
	opacity: 0.8;
	text-transform: lowercase;
}

nav h1,
nav h2 {
	font-weight: 300;
}

a {
	color: var(--medium);
	text-decoration: none;
}
